@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Store Application</h1>
    <p class="lead">Welcome to the MVC 5 Store Application</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Categories</h2>
        <p>
            Store Application will allow you to Browse, Create and Order items from the Store in various categories.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Categories &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Inventory</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Inventory &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Item</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="~/StoreManager/Create">Create Item &raquo;</a></p>
    </div>
</div>